<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home Banking | deposit</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1 class="title">Home Banking | Deposit</h1>
    <div class="container">
      <h2>Dati Conto Corrente</h2>
      <p>
        Codice Conto Corrente:
        <span th:text="${bankAccount.bankAccountCode}"></span>
      </p>
      <p>Nome Intestatario: <span th:text="${bankAccount.name}"></span></p>
      <p>
        Cognome Intestatario: <span th:text="${bankAccount.surname}"></span>
      </p>
      <p>Saldo Attuale: <span th:text="${bankAccount.balance}"></span></p>
    </div>
    <div class="container">
      <h2>Versamento</h2>
      <form th:action="@{/confirm}" method="get">
        <label for="code">Codice conto:</label>
        <input type="text" name="code" id="code" th:value="${bankAccount.bankAccountCode}" disabled>
        <label for="amount">Importo:</label>
        <input type="number" name="amount" id="amount" />                                                                                                               min="0">
        <button type="submit" class="btn btn-primary">Deposita</button>
      </form>

    </div>

    <!--end of body-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
